<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>winter_floor_260.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,174},{266,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{266,51}</string>
			</dict>
			<key>winter_floor_370.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,117},{376,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{376,51}</string>
			</dict>
			<key>winter_floor_400.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,60},{404,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{404,51}</string>
			</dict>
			<key>winter_floor_500.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,3},{506,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{506,51}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>WinterLevel.png</string>
			<key>realTextureFileName</key>
			<string>WinterLevel.png</string>
			<key>size</key>
			<string>{512,256}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>512</integer>
			<key>height</key>
			<integer>256</integer>
		</dict>
	</dict>
</plist>