<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>spring_floor0.png</key>
			<dict>
				<key>frame</key>
				<string>{{4,4},{632,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{632,54}</string>
			</dict>
			<key>spring_floor1.png</key>
			<dict>
				<key>frame</key>
				<string>{{644,4},{254,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{254,48}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>SpringLevel.png</string>
			<key>realTextureFileName</key>
			<string>SpringLevel.png</string>
			<key>size</key>
			<string>{1024,64}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>64</integer>
		</dict>
	</dict>
</plist>